In [1]:
import pandas as pd

# Intelligent Data Analysis Project

## Income

A polling institute wants to be able to estimate an individual’s income from his/her personal data (see einkommen.train). To this aim, 30.000 individuals were interviewed concerning the features summarized below. For some of the individuals, not all features are available. Crucially, the income of only 5.000 of the interviewee’s is known.

Your task is to predict the income group of the remaining 25.000 interviewees and to prepare the data such that they can be used for further regression and correlation analyses.

Load the data into Python and preprocess it. Choose adequate data transformations, normalizations etc. and decide on how to deal with missing values (marked with “?”). Consider which kinds of features the preprocessed data shall contain. Once you have preprocessed the data, train a model to predict a person’s income group and apply it to the 25.000 individuals whose income group is unknown. Identify a suitable learning method and implement it in Python. Train and evaluate the model. Provide a short documentation and motivation of each of your steps.

In [39]:
income = pd.read_csv('data/income/einkommen.train', sep=",", na_values = " ?", header=None)
columns = ["Age", "Employment type", "Interview-dependent", "Education level", "Schooling/training period", "Marital Status", "Employment area", "Partnership", "Ethnicity", "Gender", "Gains", "Losses", "Working time(Weekly)", "Country", "Income"]
income.columns = columns
income.shape

(30000, 15)

In [40]:
display(income.head(5))

,Age,Employment type,Interview-dependent,Education level,Schooling/training period,Marital Status,Employment area,Partnership,Ethnicity,Gender,Gains,Losses,Working time(Weekly),Country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [41]:
income.isna().sum()

Age                              0
Employment type               1677
Interview-dependent              0
Education level                  0
Schooling/training period        0
Marital Status                   0
Employment area               1682
Partnership                      0
Ethnicity                        0
Gender                           0
Gains                            0
Losses                           0
Working time(Weekly)             0
Country                        539
Income                       25000
dtype: int64

## Credit

A bank wants to predict the creditworthiness of its customers. Based on the customer records, the credit history, etc., a customer should be classified as creditworthy or unworthy of credit. It is five times more ‘expensive’ for the bank to rate a customer who is unworthy of credit as creditworthy than vice versa. In addition, not all information is available for all customers. For 1,000 representatively selected customers, the creditworthiness is known. For these customers the following data has been collected. (Features for which not all values are known are marked with the addition “incomplete”.)

You were asked to develop a predictive model that assesses the creditworthiness of future clients. It can be assumed that for these clients as well, there are missing values in the features “Purpose”, “Present employment since”, “Job” and “Foreign worker”.

Read the data into Python and proprocess them. Replace missing values ?using? linear regression or classification. Identify a suitable method for solving the prediction problem, implement it in Python, and train the model. Evaluate the model in terms of the bank’s cost model. Briefly motivate and document all the steps you have taken.

In [42]:
credit = pd.read_csv('data/credit/kredit.dat', sep="\t", header=None, na_values="?")
columns = ['status','duration','credit_history','purpose','credit_amount','savings_account/bonds', 'present_employement_since','installment_rate','personal_status_and_sex','other_debtors/guarantors', 'present_residence_since','property','age','other_installment_plans','housing', 'number_of_existing_credits','job','number_of_people_being_liable','telephone','foreign_worker', 'creditworthy']
credit.columns = columns
credit.shape

(1000, 21)

In [9]:
display(credit.head(5))

,status,duration,credit_history,purpose,credit_amount,savings_account/bonds,present_employement_since,installment_rate,personal_status_and_sex,other_debtors/guarantors,...,property,age,other_installment_plans,housing,number_of_existing_credits,job,number_of_people_being_liable,telephone,foreign_worker,creditworthy
0,A14,36,A32,NaN,2299,A63,NaN,4,A93,A101,...,A123,39,A143,A152,1,A173,1,A191,NaN,1
1,A12,18,A32,A46,1239,A65,A73,4,A93,A101,...,A124,61,A143,A153,1,NaN,1,A191,A201,1
2,A13,24,A32,A40,947,A61,A74,4,A93,A101,...,A124,38,A141,A153,1,NaN,2,A191,NaN,2
3,A14,15,A33,A43,1478,A61,A73,4,A94,A101,...,A121,33,A141,A152,2,A173,1,A191,A201,1
4,A14,24,A32,A40,1525,A64,A74,4,A92,A101,...,A123,34,A143,A152,1,A173,2,A192,A201,1

In [48]:
credit.isna().sum()

status                             0
duration                           0
credit_history                     0
purpose                          173
credit_amount                      0
savings_account/bonds              0
present_employement_since        496
installment_rate                   0
personal_status_and_sex            0
other_debtors/guarantors           0
present_residence_since            0
property                           0
age                                0
other_installment_plans            0
housing                            0
number_of_existing_credits         0
job                              232
number_of_people_being_liable      0
telephone                          0
foreign_worker                   360
creditworthy                       0
dtype: int64

## Insurance

You have been asked by an insurance company to analyze customer and sales data (caravan.train). These data contain 86 different kinds of information about the company’s customers (see caravan.info). The insurance company would like to know from you which customers (caravan.test) could be interested in a caravan insurance and especially why. The insurance company expects you to present your results in a credible manner – only then will the results be taken into account in the company’s decision-making processes!

Perform an analysis of the given data: Read the data into Python, preprocess the data and chose a suitable method for solving the analysis problem. Implement this method in Python. Train and evaluate the model. Apply the model to the test data. Make the statements required by the insurance company. Briefly motivate and document all steps of your data analysis.

In [43]:
# More information about the dataset: https://liacs.leidenuniv.nl/~puttenpwhvander/library/cc2000/data.html

# Data Dictionary (not direct need to read in to the notebook)
insurance_info = pd.read_csv('data/insurance/caravan.info', sep='\t', encoding='cp1252', skiprows=1)
insurance_info.head(5)

             Nr Name Description Domain
0     1 MOSTYPE Customer Subtype see L0
1    2 MAANTHUI Number of houses 1 – 10
2    3 MGEMOMV Avg size household 1 – 6
3             4 MGEMLEEF Avg age see L1
4  5 MOSHOOFD Customer main type see L2

In [44]:
insurance_test = pd.read_csv('data/insurance/caravan.test', sep='\t', header=None, encoding='cp1252')
insurance_train = pd.read_csv('data/insurance/caravan.train', sep='\t', header=None, encoding='cp1252')
print(insurance_test.shape)
print(insurance_train.shape)

(4000, 85)
(5822, 86)

In [22]:
display(insurance_test.head(5))
display(insurance_train.head(5))

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,33,1,4,2,8,0,6,0,3,5,...,0,0,0,0,1,0,0,0,0,0
1,6,1,3,2,2,0,5,0,4,5,...,2,0,0,0,1,0,0,0,0,0
2,39,1,3,3,9,1,4,2,3,5,...,1,0,0,0,1,0,0,0,0,0
3,9,1,2,3,3,2,3,2,4,5,...,0,0,0,0,1,0,0,0,0,0
4,31,1,2,4,7,0,2,0,7,9,...,0,0,0,0,1,0,0,0,0,0

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0

In [47]:
insurance_test.isna().sum()
insurance_train.isna().sum()

0     0
1     0
2     0
3     0
4     0
     ..
81    0
82    0
83    0
84    0
85    0
Length: 86, dtype: int64